* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

/******* COMMON  *******/
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
}

.flexbox {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.position-relative {
    position: relative;
}

:root {
    --color-dark-blue: #141922;
    --color-gray: #787a7f;
    --color-dark-gray: #282828;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-lime: #adff2f;
}

/* backgroud color  */
.bg-black {
    background-color: var(--color-black);
}

.bg-dark-blue {
    background-color: var(--color-dark-blue);
}

.bg-dark-gray {
    background-color: var(--color-dark-gray);
}

/* margin */
.mg-bt05 {
    margin-bottom: 0.5rem;
}
.mg-bt1 {
    margin-bottom: 1rem;
}

.mg-bt2 {
    margin-bottom: 2rem;
}

.mg-bt3 {
    margin-bottom: 3rem;
}

.mg-left1 {
    margin-left: 2rem;
}

/* padding  */
.pd-tp1 {
    padding-top: 1rem;
}

.pd-tp2 {
    padding-top: 2rem;
}


/* color  */
.color-gray {
    color: var(--color-gray);
}

.color-white {
    color: var(--color-white);
}

/* text  */

.fontsize {
    font-size: 0.8rem;
}

.fontsize1 {
    font-size: 0.7rem;
}

/* image radius  */
.img-bd-radius {
    border-radius: 50%;
    object-fit: cover;
}


/******* HEADER *******/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    height: 80px;
    z-index: 999;
    line-height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: end;
}

header a { 
    display: inline-block;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 30px;
    padding: 0.5rem 2rem;
    line-height: normal;
    margin-right:20px;
    font-size: 0.8rem;
    font-weight: bold;
}

header a:hover {
    transform:scale(1.1);
}

/******* MAIN  *******/
.container {
    height: calc(100% - 80px);
    width: 100%;
}

/* left col  */

.small-menu {
    display: none;
}

.col-top li:hover {
    color: var(--color-white);
}

.col-top li:hover img {
    opacity: 1;
}

.col-top li {
    position: relative;
}

.col-top li a:focus::before {
    content: "|";
    position: absolute;
    top: 0;
    left: -25px;
    color: var(--color-lime);
    font-size: 2rem;
}

.col-left {
    width: 250px;
    height: calc(100vh - 80px);
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0;
}

.col-left img.logo {
    width: 150px;
}

.col-left li {
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;    
}

.col-left li:hover  {
    color: var(--color-white);
}

.col-left li img {
    opacity: 0.5;
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.col-left i {
    vertical-align: middle;
    margin-right: 5px;
}

.col-bottom .bottom-img {
    background-color: var(--color-gray);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.col-bottom .install img {
    opacity: 0.5;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.col-bottom .user {
    padding-bottom: 15px;
}

.user .install:hover {
    color: var(--color-white);
}

.user .install:hover img {
    opacity: 1;
}

/* right col  */
.col-right {
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    padding: 80px 2rem 0;
    overflow-y: auto;
}

.col-right nav {
    width: 100%;
    line-height: 2rem;
}

.col-right nav li {
    margin-right: 1rem;
    position: relative;
}

.col-right li a:hover {
    color: var(--color-white) ;
}

.col-right ul li a:focus::after {
    content: '___';
    font-size: 2rem;
    position: absolute;
    color: var(--color-lime);
    top: 0;
    left: 50%;
    transform: translate(-50%);

}

.col-right .col {
    width: calc(100% / 6 - 2rem);
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.img-wrapper {
    position: relative;
    min-width: 120px;
}

.img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008c;
}

.img-hover i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-size: 2.5rem;
}

.border-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #0000008c;
}

.border-hover i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-size: 2.5rem;
}

.col-right .col:hover .border-hover {
    display: block;
}

.col-right .card-img:hover  .img-hover {
    display: block;
}

.col-right .col:hover i {
    display: block;
}

.col-right .col {
    cursor: pointer;
}

.col-right .card-img img {
    display: block;
    width: 250px;
    min-width: 120px;
}

.col-right .card-txt {
    text-align: center
}

/******* FOOTER  *******/
footer {
    height: 80px;
}

footer i:hover {
    transform:scale(1.2);
    cursor: pointer;
}

/* on play  */
.on-play {
    width: 200px;
    height: 80px;
    align-items: center;
}

.on-play i {
    color: var(--color-gray);
    margin-right: 1rem ;
}

.on-play img {
    height: 40px;
    margin: 0 1rem;
}

.on-play .album {
   padding-right: 10px;
}

.on-play .playing-now {
    margin-right: 2rem;
}

.hv-underline:hover {
    text-decoration: underline;
    color: var(--color-white);
}

/* play bar  */
.player {
    width: 60%;
}

.icons {
    height: 50px;
    align-items: center;
}

.icons i {
    color: var(--color-white);
    margin: 0 15px;
}

.play-bar {
    align-items: center;    
}

.play-bar .volume-bar {
    width: 100%;
    border: 3px solid rgb(99, 99, 99);
    border-radius: 50px;
}

.play-bar .volume-above {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    border: 3px solid rgb(190, 190, 190);
    border-radius: 50px;
}

.play-bar .player-ball {
    display: none;
    position: absolute;
    top: -4px;
    left: 29%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.play-bar .volume:hover .volume-above  {
    border: 3px solid var(--color-lime);
}

.play-bar .volume:hover .player-ball {
    display: block;
    cursor: grab;
}

.play-bar .range {
    width: 70%;
}

.play-bar .minute {
    margin-left: 1rem;
}

/* mixer */
.mix {
    height: 80px;
    width: 250px;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
}

.mix i {
    color: var(--color-white);
    margin-right: 1rem;
}

.mix .range {
    width: 30%;
}

.mix .volume {
    width: 60%;
}

.mix .volume-bar {
    width: 100%;
    border: 3px solid rgb(99, 99, 99);
    border-radius: 50px;
}

.mix .volume-above {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    border: 3px solid rgb(190, 190, 190);
    border-radius: 50px;
}

.mix .player-ball {
    display: none;
    position: absolute;
    top: -4px;
    left: 36%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.mix .volume:hover .volume-above {
    border: 3px solid var(--color-lime);
}
.mix .volume:hover .player-ball {
    display: block;
    cursor: grab;
}


/******* MEDIA QUERY  *******/
/* Small desktop 1100px  */
@media screen and (max-width: 1100px) {

    /******* MAIN  *******/
    /* right col  */
    .row {
        flex-wrap: wrap;

    }
    .col-right .col {
        width: calc(100% / 4 - 2rem );
        margin-right: 2rem;
    }

    .col-right .card-img img {
        min-width: 90px;
    } 

    .img-wrapper { 
        min-width: 90px;
    }
}

/* tablet 700 px */
@media screen and (max-width: 700px) {
    
    /******* MAIN  *******/
    /* right col  */
    .row {
        flex-wrap: wrap;

    }
    .col-right .col {
        width: calc(100% / 2 - 2rem );
        margin-right: 2rem;
    }

    /******* FOOTER  *******/
    /* on play  */
    .block{
        flex-wrap: wrap;
    }

    .on-play .playing-now {
        margin-right: 0;
    }
}

/* mobile 600px */
@media screen and (max-width: 600px) {
    /******* HEADER *******/
    header {
        left:80px
    }

    /* left col  */
    .col-left {
        width: 80px;
    }

    .big-menu {
        display: none;
    }

    .small-menu {
        display: flex;
    }

    .col-left img.logo {
        width: 50px;
    }

    /* right col  */
    .col-right {
        width: calc(100% - 80px);
    }

    /******* FOOTER  *******/
    /* on play  */
    .on-play {
        width: 20%;
        align-items: flex-start;
        padding-top: 0.5rem;
    }
   
    /* player  */
    .player {
        margin-left: 3rem;
    }

    .icons i {
        margin: 0 5px;
    }
    
    /* mixer  */
    .mix {
        width: 20%;
        flex-wrap: wrap;
        padding-top: 5px;
    }
    
    .mix i {
        margin-left: 1rem;
    }
}   
